<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>
    <add key="token" value="72hhj8yr4b2xt62tjgmvjbp68" />
    <add key="endpointUrl" value="http://azfm.com/triger.php?song=" />
    <add key="lastPathFile" value="C:\avaplayer\public\onair\onair.txt" />
  </appSettings>

</configuration>
